In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("D:/Portfolio Projects/Titanic-Passenger-Survival/data/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [34]:
# 1. Fill missing Age values with the median
df['Age'].fillna(df['Age'].median(),inplace=True)

# 2. Fill missing Embarked values with the mode (most frequent value)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

# 3. Drop the Cabin column due to too many missing values
df.drop(columns=['Cabin'], inplace=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\1787649377.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace=True)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\1787649377.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [35]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

In [7]:
test_df = pd.read_csv("D:/Portfolio Projects/Titanic-Passenger-Survival/data/test.csv")

# Fill missing Age values with median
test_df['Age'].fillna(df['Age'].median(), inplace=True)

# Fill missing Fare with median (sometimes test set has missing Fare)
test_df['Fare'].fillna(df['Fare'].median(), inplace=True)

# Fill missing Embarked with mode (usually not needed for test set)
test_df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Drop Cabin
test_df.drop('Cabin', axis=1, inplace=True)

# Extract Titles from Name column
test_df['Title'] = test_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Replace rare titles
test_df['Title'] = test_df['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                   'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
test_df['Title'] = test_df['Title'].replace('Mlle', 'Miss')
test_df['Title'] = test_df['Title'].replace('Ms', 'Miss')
test_df['Title'] = test_df['Title'].replace('Mme', 'Mrs')

test_df['Title'].fillna(0, inplace=True)

# Manual mapping
sex_map = {'male': 0, 'female': 1}
title_map = {'Mr': 0, 'Miss': 1, 'Mrs': 2, 'Master': 3}
embarked_map = {'C': 0, 'Q': 1, 'S': 2}

test_df['Sex'] = test_df['Sex'].map(sex_map)
test_df['Title'] = test_df['Title'].map(title_map)
test_df['Embarked'] = test_df['Embarked'].map(embarked_map)

test_df[['Age', 'Fare']] = scaler.transform(test_df[['Age', 'Fare']])

# Create FamilySize = SibSp + Parch + 1 (including the passenger themself)
test_df['FamilySize'] = test_df['SibSp'] + test_df['Parch'] + 1

# If FamilySize == 1, then the passenger is alone
test_df['IsAlone'] = (test_df['FamilySize'] == 1).astype(int)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\2537504783.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\2537504783.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Fare'].fillna(df['Fare'].median(), inplace=True)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\2537504783.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\2537504783.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Title'].fillna(0, inplace=True)

In [8]:
# Drop unnecessary columns
test_df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

In [36]:
# Extract Titles from Name column
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Replace rare titles
df['Title'] = df['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                   'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
df['Title'] = df['Title'].replace('Mlle', 'Miss')
df['Title'] = df['Title'].replace('Ms', 'Miss')
df['Title'] = df['Title'].replace('Mme', 'Mrs')

In [37]:
# Create FamilySize = SibSp + Parch + 1 (including the passenger themself)
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
# If FamilySize == 1, then the passenger is alone
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)

In [38]:
# Drop unnecessary columns
df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

In [39]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,0,3,male,22.0,1,0,7.2500,S,Mr,2,0
1,1,1,female,38.0,1,0,71.2833,C,Mrs,2,0
2,1,3,female,26.0,0,0,7.9250,S,Miss,1,1
3,1,1,female,35.0,1,0,53.1000,S,Mrs,2,0
4,0,3,male,35.0,0,0,8.0500,S,Mr,1,1

In [40]:
# Save cleaned dataset
df.to_csv('D:/Portfolio Projects/Titanic-Passenger-Survival/data/cleaned_titanic_data.csv', index=False)

In [10]:
# Manual mapping
sex_map = {'male': 0, 'female': 1}
title_map = {'Mr': 0, 'Miss': 1, 'Mrs': 2, 'Master': 3}
embarked_map = {'C': 0, 'Q': 1, 'S': 2}

df['Sex'] = df['Sex'].map(sex_map)
df['Title'] = df['Title'].map(title_map)
df['Embarked'] = df['Embarked'].map(embarked_map)

In [15]:
# fill NaN with 0
df['Title'].fillna(0, inplace=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_8556\2562959521.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Title'].fillna(0, inplace=True)

In [16]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
Title         0
FamilySize    0
IsAlone       0
dtype: int64

In [17]:
test_df.isnull().sum()

Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
Title         6
FamilySize    0
IsAlone       0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_val)
print("Accuracy:", accuracy_score(y_val, y_pred))
print(classification_report(y_val, y_pred))

Accuracy: 0.8268156424581006
              precision    recall  f1-score   support

           0       0.85      0.86      0.85       105
           1       0.79      0.78      0.79        74

    accuracy                           0.83       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.83      0.83      0.83       179

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

# Initialize models
rf = RandomForestClassifier(random_state=42)
svm = SVC(random_state=42)
dt = DecisionTreeClassifier(random_state=42)

# Train models
rf.fit(X_train, y_train)
svm.fit(X_train, y_train)
dt.fit(X_train, y_train)

# Evaluate
for model in [rf, svm, dt]:
    y_pred = model.predict(X_val)
    print(model.__class__.__name__)
    print("Accuracy:", accuracy_score(y_val, y_pred))
    print(classification_report(y_val, y_pred))
    print("-" * 50)

RandomForestClassifier
Accuracy: 0.8324022346368715
              precision    recall  f1-score   support

           0       0.85      0.87      0.86       105
           1       0.81      0.78      0.79        74

    accuracy                           0.83       179
   macro avg       0.83      0.83      0.83       179
weighted avg       0.83      0.83      0.83       179

--------------------------------------------------
SVC
Accuracy: 0.8268156424581006
              precision    recall  f1-score   support

           0       0.84      0.88      0.86       105
           1       0.81      0.76      0.78        74

    accuracy                           0.83       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.83      0.83      0.83       179

--------------------------------------------------
DecisionTreeClassifier
Accuracy: 0.7653631284916201
              precision    recall  f1-score   support

           0       0.80      0.80      0.80       105
           1       0.72      0.72      0.72        74

    accuracy                           0.77       179
   macro avg       0.76      0.76      0.76       179
weighted avg       0.77      0.77      0.77       179

--------------------------------------------------

In [21]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [None, 5, 10],
}
grid = GridSearchCV(RandomForestClassifier(), param_grid, cv=15)
grid.fit(X_train, y_train)

print("Best Parameters:", grid.best_params_)

Best Parameters: {'max_depth': 5, 'n_estimators': 200}

In [22]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(rf, X, y, cv=5)
print("Cross-validation accuracy:", scores.mean())

Cross-validation accuracy: 0.8170861841692298

In [23]:
rf_tuned = RandomForestClassifier(random_state=42,n_estimators=100,max_depth=5)
rf_tuned.fit(X_train,y_train)

y_pred = rf_tuned.predict(X_val)
print("Accuracy:", accuracy_score(y_val, y_pred))
print(classification_report(y_val, y_pred))

Accuracy: 0.8212290502793296
              precision    recall  f1-score   support

           0       0.83      0.88      0.85       105
           1       0.81      0.74      0.77        74

    accuracy                           0.82       179
   macro avg       0.82      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

In [24]:
# Predict on final test data
test_predictions = rf_tuned.predict(test_df)

# Add predictions to test DataFrame
test_df['Survived'] = test_predictions

In [25]:
test_df.sample(10)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone,Survived
35,3,0,-0.834711,0,0,-0.502864,0,0.0,1,1,0
5,3,0,-1.180535,0,0,-0.462679,2,0.0,1,1,0
157,3,1,-0.488887,0,0,-0.490280,2,1.0,1,1,1
175,2,1,-1.103685,0,2,0.136831,2,1.0,3,0,1
122,1,1,0.433312,1,0,0.514357,0,2.0,2,0,1
250,2,1,-2.185731,1,2,-0.089684,2,1.0,4,0,1
306,1,0,0.049062,1,2,2.402990,2,0.0,4,0,0
153,3,1,0.510161,0,2,-0.403115,2,2.0,3,0,1
168,1,1,-2.264474,0,0,-0.090272,0,2.0,1,1,1
383,3,1,-0.796286,1,0,-0.324253,2,2.0,2,0,1

In [26]:
import pickle

with open('titanic_model.pkl', 'wb') as file:
    pickle.dump(rf_tuned, file)

In [27]:
print(X_train.shape)
print(X_train.columns)

(712, 10)
Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Title',
       'FamilySize', 'IsAlone'],
      dtype='object')